@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin-left: 0;
  padding-left: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 7px 7%;
}

#header {
  height: 100vh;
  overflow: hidden;
}

body {
  background: #080808;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;

}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 3px;
  background: #8764B8;
  position: absolute;
  right: 0;
  bottom: -6px;
  transition: 0.5s;

}

nav ul li a:hover::after {
  width: 100%;

}

.header_text {
  margin-top: 15%;
  font-size: 30px;
}

.header_text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.classic {
  color: #8764B8;
}

.about {
  max-height: 80vh;
  display: flex;
  font-size: 20px;
  align-items: center;
  overflow: hidden;

}

.img-box {
  padding: 5rem;
  overflow: hidden;
}

.img-box img {
  max-width: 100%;
  border: 2px solid #383737;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.Vertical {
  height: 100vh;
  display: flex;
  align-items: center;
}

.custom-hr {
  background-color: #8764B8;
  height: 1px;
  border: none;
}

.description {
  text-align: justify;
}

.big {
  font-size: 80px;
}

.hover-text {
  transition: all 0.5s ease;
}

.hover-text:hover {
  font-size: 125%;
}